@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
h1, h3, strong{
    color: black;
}
body {
    height: 100vh;
    color: rgb(55, 65, 81);
}
a{
    text-decoration: none;
    color: #4E80EE;
}
/* mobile first */
/* Header */
header{
    padding: 40px 30px 20px 30px;
    text-align: center;
}
header > h1{
    font-size: 36px;
}
/* End Header */

/* Main */
main{
    
    background-color: #F9FAFC;
    padding: 0 40px;
    flex: 1;
}
h3{
    font-size: 24px;
    padding-top: 50px;
}
p{
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}
ol, ul{
    padding-left: 20px;
    line-height: 2;
}
.author-info {
    font-size: 14px;
    text-align: center; 
}
footer{ 
    padding: 20px 5px;
    background-color: white;
}
.author-info a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    header > h1{
        font-size: 32px;
    }   
    main{
        
        padding: 0 200px;
        flex: 1;
    }
}
@media screen and (min-width:1280px){
    main{
        
        padding: 0 300px;
        flex: 1;
    }
}